<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button class="btn btn-link" routerLink="/">На главную</button>
  </div>

  <div class="info">
    <strong>Автор поста</strong>
    <small>07.06.2020</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequuntur culpa cumque laudantium omnis quas soluta, vero. Blanditiis cumque debitis deleniti doloribus et ex fuga fugit ipsa, ipsum iure, iusto maxime necessitatibus porro sit suscipit tempore tenetur voluptate, voluptates. Explicabo laboriosam nesciunt, officia porro recusandae saepe soluta voluptate! Debitis, libero.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequuntur culpa cumque laudantium omnis quas soluta, vero. Blanditiis cumque debitis deleniti doloribus et ex fuga fugit ipsa, ipsum iure, iusto maxime necessitatibus porro sit suscipit tempore tenetur voluptate, voluptates. Explicabo laboriosam nesciunt, officia porro recusandae saepe soluta voluptate! Debitis, libero.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequuntur culpa cumque laudantium omnis quas soluta, vero. Blanditiis cumque debitis deleniti doloribus et ex fuga fugit ipsa, ipsum iure, iusto maxime necessitatibus porro sit suscipit tempore tenetur voluptate, voluptates. Explicabo laboriosam nesciunt, officia porro recusandae saepe soluta voluptate! Debitis, libero.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequuntur culpa cumque laudantium omnis quas soluta, vero. Blanditiis cumque debitis deleniti doloribus et ex fuga fugit ipsa, ipsum iure, iusto maxime necessitatibus porro sit suscipit tempore tenetur voluptate, voluptates. Explicabo laboriosam nesciunt, officia porro recusandae saepe soluta voluptate! Debitis, libero.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequuntur culpa cumque laudantium omnis quas soluta, vero. Blanditiis cumque debitis deleniti doloribus et ex fuga fugit ipsa, ipsum iure, iusto maxime necessitatibus porro sit suscipit tempore tenetur voluptate, voluptates. Explicabo laboriosam nesciunt, officia porro recusandae saepe soluta voluptate! Debitis, libero.</p>
  </div>
</div>
